@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #374151;
  --card: #ffffff;
  --card-foreground: #374151;
  --popover: #eff6ff;
  --popover-foreground: #374151;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #f59e0b;
  --secondary-foreground: #374151;
  --muted: #f0f9ff;
  --muted-foreground: #374151;
  --accent: #f59e0b;
  --accent-foreground: #ffffff;
  --destructive: #2563eb;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #f0f9ff;
  --ring: #2563eb;
  --radius: 0.5rem;
}

.dark {
  --background: #1f2937;
  --foreground: #f9fafb;
  --card: #1f2937;
  --card-foreground: #f9fafb;
  --popover: #374151;
  --popover-foreground: #f9fafb;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #fbbf24;
  --secondary-foreground: #1f2937;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #fbbf24;
  --accent-foreground: #1f2937;
  --destructive: #3b82f6;
  --destructive-foreground: #ffffff;
  --border: #4b5563;
  --input: #374151;
  --ring: #3b82f6;

}

@theme inline {
  --font-sans: system-ui, -apple-system, sans-serif;
  --font-mono: "Monaco", "Menlo", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
